body * {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-size: 15px;
    line-height: 1.67;
    color: #777;
    margin: 0;
    padding: 0;
}


/* first-section start here *********************** */

.first-section {
    background-color: #271344;
    height: 70px;
}

.container-facebook {
    display: none;
}

.container-time {
    display: none;
    height: 100%;
}

.container-adresa {
    display: none;
    height: 100%;
}

.container-first-section {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: white;
    font-weight: 1000;
}

.container-phone {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    height: 100%;
}

.container-phone svg {
    width: 22px;
    fill: #ffc000;
}

.container-search {
    width: 40px;
    height: 40px;
    border: 1px solid #ff4880;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-search span {
    background-color: #ff4880;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
}

.container-search svg {
    width: 15px;
    fill: white;
    height: 15px;
}

@media(min-width:380px) {
    .container-search {
        display: none;
    }
    .container-facebook {
        display: unset;
    }
    .container-facebook svg {
        width: 15px;
        height: 15px;
        fill: white;
    }
}

@media(min-width:560px) {
    .container-first-section {
        justify-content: center;
        column-gap: 5px;
    }
    .container-facebook {
        background-color: #1AB9FF;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(min-width:780px) {
    .container-multiple {
        display: flex;
        flex-direction: row;
        height: 100%;
        column-gap: 15px;
    }
    .container-facebook {
        display: none;
    }
    .container-first-section {
        justify-content: space-around;
    }
    .container-adresa {
        display: unset;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        word-spacing: 5px;
        column-gap: 5px;
        font-size: 14px;
        height: 100%;
    }
    .container-adresa svg,
    .container-time svg,
    .container-phone svg {
        width: 15px;
        fill: #ffc000;
    }
    .container-phone {
        font-size: 14px;
        font-weight: unset;
    }
    .container-time {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        align-items: center;
    }
    .container-first-section {
        max-width: 750px;
    }
}

@media(min-width:990px) {
    .container-facebook {
        display: flex;
    }
    .container-first-section {
        max-width: unset;
        width: 98%;
        justify-content: space-between;
        column-gap: 20px;
        max-width: 1200px;
    }
}


/*finish first-section *************************8 */


/*start nav ******************************88 */

.container-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    align-items: center;
    height: 100%;
}

nav {
    height: 75px;
    border-bottom: 1px solid rgb(163, 162, 162);
    background-color: white;
}

nav img {
    width: 140px;
    height: 44px;
}

.nav-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}

.nav-box svg {
    width: 20px;
    fill: #777777;
}

.meniu {
    border: 1px solid #271344;
    height: 32px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 15px;
    z-index: -1;
    border-radius: 5px;
}

.meniu span {
    width: 70%;
    background-color: black;
    height: 2px;
}

.meniu::after {
    content: '';
    background-color: black;
    height: 2px;
    width: 70%;
    top: 7px;
    position: absolute;
    transition: 0.3s all;
    transform-origin: left;
    transform: skewY(var(--meniu-secondary));
}

.meniu::before {
    content: '';
    background-color: black;
    height: 2px;
    width: 70%;
    bottom: 7px;
    transition: 0.3s all;
    position: absolute;
    transform-origin: left;
    transform: skewY(var(--meniu-primary));
}

.search-meniu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: white;
    z-index: -1;
    display: flex;
    flex-direction: column;
    transition: 0.5s all ease-in;
    transform: scale(0);
    opacity: 0;
}

.search-meniu .exit {
    display: flex;
    justify-content: flex-end;
}

.exit p {
    width: 66px;
    height: 66px;
    background-color: #FF4880;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
    color: white;
}

.search-meniu section {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-meniu section div {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    width: 80%;
    max-width: 700px;
}

.search-meniu section svg {
    width: 22px;
    fill: #FF4880;
}

.search-meniu section input {
    background-color: transparent;
    border: none;
    color: #777;
    font-size: 19px;
    font-weight: 700;
}

nav {
    position: relative;
}

.first-ul {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    background-color: white;
    opacity: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.first-ul a {
    color: #271344;
    display: block;
    font-size: 17px;
    padding: 10px;
    font-weight: 600;
}

.despre-noi {
    position: relative;
}

.despre-noi span {
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 5px;
    width: 25px;
    background-color: #ff4880;
    border-radius: 2px;
    color: #fff;
    margin-right: 15px;
    ;
}

.despre-noi span::after {
    content: "\25bc";
    font-size: 10px;
}

.second-ul {
    display: block;
    overflow: hidden;
    height: 0px;
    transition: 0.5s all ease;
}

.second-ul li {
    margin-left: 20px;
}

.first-ul {
    transform: translateY(100px);
    opacity: 0;
    transition: 1s all;
}

@media(min-width:320px) {
    .first-ul li {
        margin-left: 10px;
    }
}

.meniu {
    z-index: 1;
}

@media(min-width:1200px) {
    .first-ul {
        position: unset;
        display: flex;
        flex-direction: row;
        transform: translateY(0);
        opacity: 1;
        width: 100%;
        column-gap: 20px;
        ;
    }
    .despre-noi span {
        border: 1px solid green;
        display: none;
        ;
    }
    .container-nav {
        max-width: 1200px;
        margin: auto;
    }
    .meniu {
        display: none;
    }
    .first-ul li a {
        display: block;
        padding: 2px 8px 2px 8px;
        transition: 1s all ease;
        border-radius: 5px;
        text-align: center;
        border-radius: 5px;
        transition: 0.5s all ease;
    }
    .first-ul li:nth-child(1) a:nth-child(1) {
        background-color: #FF4880;
        color: white;
    }
    .second-ul li:nth-child(1) a:nth-child(1) {
        background-color: white;
        color: #271344
    }
    .first-ul li a:hover:not(.second-ul li a) {
        background-color: #FF4880;
        color: white;
    }
    .nav-box svg {
        fill: white;
        width: 15px;
    }
    .nav-box {
        width: 40px;
        height: 40px;
        border: 2px dashed #ff4880;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .nav-box-svg-container {
        background-color: #ff4880;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .second-ul {
        display: unset;
        position: absolute;
        overflow: unset;
        left: 0;
        background-color: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 200px;
        height: 180px;
        border: 1px solid rgb(177, 177, 177);
        border-radius: 10px;
        transform: translateY(50px);
        transition: 0.5s;
        opacity: 0;
        /* z-index: 99; */
    }
    .despre-noi:hover .second-ul {
        opacity: 0;
        transform: translateY(0px);
        z-index: -100;
    }
    .container-second-ul {
        width: 90%;
        border: 1px dashed #ff4880;
        border-radius: 5px;
        height: 140px;
    }
    .second-ul li {
        padding: 0;
        margin: 0;
    }
    .second-ul a {
        font-size: 13px;
        margin-top: 5px;
        position: relative;
        transition: 0.1s all ease;
    }
    .second-ul a:hover {
        margin-left: 10px;
        color: #ff4880;
    }
    .first-ul li a {
        text-align: left;
    }
    .second-ul li {
        border-bottom: 1px solid rgb(204, 204, 204);
        width: 90%;
        margin: auto;
    }
    .second-ul li a {
        position: relative;
    }
    .second-ul li a::after {
        content: ' \2192';
        left: -10px;
        ;
        position: absolute;
        opacity: 0;
        transition: 0.5s all;
        color: #ff4880;
    }
    .second-ul li a:hover::after {
        opacity: 1;
    }
    .second-ul li:nth-child(1) a:nth-child(1):hover {
        color: #ff4880;
    }
}


/*header ************************************************ */

header {
    position: relative;
    min-height: 720px;
}

.container-poze {
    position: relative;
}

.background {
    background: url("../poze/bg-home-top-section.png");
    width: 100%;
    min-height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.container-bird {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 70px;
    animation: MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
    0%,
    100% {
        top: 20px;
    }
    50% {
        top: 90px;
    }
}

.container-nori {
    position: absolute;
    top: 220px;
    width: 80%;
    animation: MoveLeftRight 2s linear infinite;
}

.container-nori img {
    max-width: 100%;
}

@keyframes MoveLeftRight {
    0%,
    100% {
        left: 20px;
    }
    50% {
        left: 90px;
    }
}

@media(min-width:780px) {
    .container-poze {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50%;
    }
    .container-bird {
        width: 30%;
    }
    .container-nori {
        width: 50%;
        top: 0;
        right: 0;
        max-width: 400px;
    }
    @keyframes MoveUpDown {
        0%,
        100% {
            top: 20px;
        }
        50% {
            top: 90px;
        }
    }
    @keyframes MoveLeftRight {
        0%,
        100% {
            left: 30%;
        }
        50% {
            left: 42%;
        }
    }
}

@media(min-width:1200px) {
    @keyframes MoveLeftRight {
        0%,
        100% {
            left: 60%;
        }
        50% {
            left: 70%;
        }
    }
    .container-bird {
        left: 100px;
    }
}

.second-container {
    font-family: "Akronim", Sans-serif;
    overflow: hidden;
}

.container-poze {
    height: 400px;
}

.container-title {
    font-size: 17px;
    color: #FF4880;
    letter-spacing: 0.2em;
    ;
    text-transform: uppercase;
    font-weight: 800;
    transition: 0.5s all;
    transform: translateY(250px);
}

.container-descriere {
    color: #271344;
    font-family: "Sriracha", Sans-serif;
    font-weight: 400;
    transition: 0.8s all;
    transform: translateY(250px);
}

.container-title,
.container-descriere {
    width: 90%;
    margin: auto;
}

.afla-mai-multe a {
    border: 2px solid green;
    background-color: #FF4880;
    font-size: 17px;
    padding: 0 26px;
    line-height: 48px;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #FF4880;
    width: 200px;
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 7px;
    align-items: center;
    justify-content: flex-end;
    transition: 0.8s all;
    text-align: left;
    min-width: 210px;
    position: relative;
    transform-origin: top left;
    transform: rotate(-40deg) translate(-400px, 350px);
}

.afla-mai-multe {
    width: 90%;
    margin: auto;
}

.afla-mai-multe span:nth-child(1) {
    width: 100%;
}

.afla-mai-multe span:nth-child(2) {
    background-color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    color: #ff4880;
    display: flex;
    align-items: center;
    transition: 0.5s all;
    position: absolute;
    right: 20px;
}

.afla-mai-multe span:nth-child(2) {
    background-color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    color: #ff4880;
    display: flex;
    align-items: center;
    transition: 0.5s all;
}

.afla-mai-multe a:hover {
    background-color: #271344;
    border: 1px solid #271344;
}

.afla-mai-multe a:hover span:nth-child(2) {
    color: #271344;
}

@media(min-width:780px) {
    .container-poze {
        height: 200px;
    }
}

@media(min-width:1024px) {
    .second-container {
        width: 80%;
        margin: auto;
        max-width: 1300px;
    }
    .container-poze {
        height: 300px;
    }
    .container-descriere {
        max-width: 600px;
        margin: unset;
        margin-left: 65px;
    }
}

nav:hover header {
    border: 10px solid green;
}


/****************************** main start here ****************/

main {
    margin: auto;
    text-align: center;
    line-height: 40px;
    margin-top: 100px;
}

.alegere-title {
    font-size: 17px;
    color: #ff4880;
}

.valori_baza {
    font-size: 35px;
    color: #271344;
}

.modificare {
    font-size: 16px;
}

@keyframes MoveLeftRightAlbina {
    0%,
    100% {
        left: 50%;
    }
    50% {
        left: 30%;
    }
}


/* container optinui start here ************************************ */

.container-optiuni {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 100px;
}

.conainter-albina {
    position: absolute;
    animation: MoveLeftRightAlbina 5s linear infinite;
}

.container-poza {
    min-width: 180px;
    max-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 180px;
}

.container-poza img {
    width: 90%;
    max-height: 170px;
    border-radius: 100%;
}

.optiune {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 30px;
    padding: 40px 15px 3px;
}

.container-optiuni h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arimo', sans-serif;
}

.container-optiuni p {
    font-size: 18px;
    ;
}

.invatare {
    background-color: #FF6666;
    border-bottom: 10px solid #f33d3d;
}

.nutritie {
    background-color: #FFC000;
    border-bottom: 10px solid #916e06;
}

.profesori {
    background-color: #ABCD52;
    border-bottom: 10px solid #a5dd15;
}

.mediu {
    background-color: #1AB9FF;
    border-bottom: 10px solid #09658d;
}

.container-poza {
    position: relative;
}

.container-poza::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px dashed white;
}

@media(min-width:780px) {
    .container-optiuni {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        width: 90%;
        margin: auto;
        row-gap: 50px;
        margin-top: 120px;
    }
}

@media(min-width:1200px) {
    .container-optiuni {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1200px;
        margin-left: auto;
    }
    .optiune {
        transition: 0.5s all;
        ;
    }
    .optiune:hover {
        transform: translateY(-20px);
    }
    .optiune:hover .container-poza::after {
        animation: rotate 0.8s linear infinite;
    }
    .container-poza img {
        transition: 0.5s all;
    }
    .optiune:hover .container-poza img {
        transform: rotateY(-180deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.inscriere {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

.inscriere_button a {
    background-color: #FF4880;
    font-size: 17px;
    padding: 0 26px;
    line-height: 48px;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #FF4880;
    width: 200px;
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 7px;
    align-items: center;
    justify-content: flex-end;
    transition: 0.5s all;
    text-align: left;
    min-width: 210px;
    position: relative;
    margin-top: 20px;
}

.inscriere_button span:nth-child(1) {
    width: 100%;
}

.inscriere_button {
    margin: auto;
}

.inscriere {
    font-family: 'Fredoka One', sans-serif;
    font-weight: 400;
}

.inscriere_button span:nth-child(2) {
    background-color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    color: #ff4880;
    display: flex;
    align-items: center;
    transition: 0.5s all;
    position: absolute;
    right: 20px;
}

.inscriere_button a:hover {
    background-color: black;
    border: 1px solid #271344;
}

.inscriere_button a:hover span:nth-child(2) {
    color: #271344;
}

.inscriere {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.text-inscriere {
    text-align: left;
    line-height: 20px;
}

.text-inscriere h2 {
    color: #271344;
    font-size: 25px;
    line-height: 35px;
}

.text-inscriere h2 span {
    color: #ff4880;
    font-weight: bold;
}

.text-inscriere h3 {
    font-size: 17px;
    line-height: 20px;
    ;
}

.inscriere_button {
    margin: unset;
}

@media(min-width:780px) {
    .inscriere {
        flex-direction: row;
        justify-content: space-around;
    }
    .inscriere_button {
        margin: auto;
    }
}


/* ************* ghidarea starts here ********************/

.ghidarea {
    margin-top: 100px;
    background-color: rgb(255, 251, 242);
}

.first-text-ghidarea {
    overflow: hidden;
}

.container-animatie-ghidare1 {
    transform: translateY(120%);
    transition: 1.5s all ease-in-out;
}

.container-img-ghidare {
    position: relative;
    height: 400px;
    max-width: 500px;
    margin: auto;
}

.container-img-ghidare img {
    max-width: 80%;
    position: absolute;
    left: 0;
    animation: MoveLeftRightPozaGhidare 3s linear infinite;
}

.ghidarea-second {
    transform-origin: bottom right;
    transform: translateX(100%) rotate(30deg);
    transition: 1.5s;
}

@keyframes MoveLeftRightPozaGhidare {
    0%,
    100% {
        left: 1%;
    }
    50% {
        left: 10%;
    }
}

.container-text-ghidarea {
    width: 90%;
    margin: auto;
    font-family: 'Prompt', sans-serif;
}

.container-text-ghidarea h1 {
    font-size: 32px;
    color: #271344;
    text-align: left;
    font-weight: bold;
}

.first-text-ghidarea p,
.first-texat-ghidarea h1 {
    color: #777777;
    font-size: 15px;
    text-align: left;
    line-height: 20px;
    ;
}

.container-text-ghidarea-sectiuni {
    color: #777777;
    font-size: 15px;
    text-align: left;
    line-height: 20px;
    font-weight: normal;
}

.ghidarea h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

.button-ghidarea a {
    color: #ff4880;
}

.button-ghidarea {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.button-ghidarea a {
    border: 1px solid #ff4880;
    padding: 7px 15px 7px 15px;
    ;
    border-radius: 5px;
    font-family: 'Prompt', sans-serif;
    min-width: 203px;
    font-size: 20px;
    transition: 0.5s all;
}

.button-ghidarea span:nth-child(2) {
    background-color: #ff4880;
    border-radius: 100%;
    color: white;
    padding: 1px 1px 0px 1px;
    transition: 0.5s all;
}

.button-ghidarea a:hover {
    background-color: #ff4880;
    color: white;
}

.button-ghidarea a:hover span:nth-child(2) {
    color: #ff4880;
    background-color: white;
}

.container-text-two {
    overflow: hidden;
}

@media(min-width:780px) {
    .container-text-two {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }
}

.container-ghidare {
    width: 100%;
    height: 100%;
}

@media(min-width:1080px) {
    .container-ghidare {
        display: flex;
        flex-direction: row;
        max-width: 1550px;
        margin: auto;
    }
    .container-img-ghidare {
        min-width: 600px;
    }
    .container-text-ghidarea {
        width: 800px;
    }
    .container-img-ghidare img {
        max-width: 415px;
        right: 0;
    }
    @keyframes MoveLeftRightPozaGhidare {
        0%,
        100% {
            left: 15%;
        }
        50% {
            left: 25%;
        }
    }
}


/*here start second-alegere **********************/

.alegere-second {
    margin-top: 100px;
}

.first-alegere-div {
    position: relative;
    height: 180px;
}

.first-alegere-div img {
    width: 130px;
    height: 130px;
    position: absolute;
    animation: LeftRightSun 9s linear infinite;
}

@keyframes LeftRightSun {
    0%,
    100% {
        left: 25%;
    }
    50% {
        left: 55%;
    }
}

.second-alegere-div-img {
    position: relative;
    height: 250px;
    display: flex;
    justify-content: center;
}

.second-alegere-div-img img {
    position: absolute;
    animation: topBottomNava 1s linear infinite;
}

@keyframes topBottomNava {
    0%,
    100% {
        top: 5%;
    }
    50% {
        top: 15%;
    }
}

.second-alegere {
    line-height: 10px;
}

.alegere-second h2 {
    color: #ff4880;
    font-size: 17px;
}

.alegere-second h1 {
    color: #271344;
    font-size: 40px;
    width: 80%;
    margin: auto;
}

@media(min-width:780px) {
    .alegere-second {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .second-alegere-div-img {
        width: 33%;
    }
    .first-alegere-div {
        width: 33%;
    }
}


/*copil starts here ****************/

.dragoste,
.incredere,
.dezvoltarea,
.atentia,
.conectarea {
    display: flex;
    flex-direction: column-reverse;
}

.container-poza-copil {
    min-width: 80px;
    max-width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contaienr-poza-copil2 {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contaienr-poza-copil2 img {
    width: 30px;
    height: 30px;
}

.text {
    text-align: left;
    margin-left: 5px;
}

.sectiune-copil h3 {
    color: #271344;
    font-size: 24px;
    font-family: 'Fredoka One', sans-serif;
    font-weight: 800;
}

.text {
    line-height: 20px;
}

.text p {
    font-size: 15px;
    color: #777777;
    font-family: 'Prompt', sans-serif;
    ;
}

.sectiune-copil {
    width: 95%;
    margin: auto;
}

.container-copil img {
    max-width: 100%;
    transition: 0.5s all;
    transform: scale(0.1);
}

@media(min-width:780px) {
    .container-copil img {
        min-height: 500px;
        max-height: 500px;
    }
}

.conectarea {
    width: 50%;
    margin: auto;
}

@media(min-width:570px) {
    .dragoste,
    .incredere {
        flex-direction: row;
        column-gap: 10px;
        justify-content: flex-start;
        align-items: center;
    }
    .dragoste .container-poza-copil {
        min-width: 80px;
    }
    .dragoste h3,
    .incredere h3 {
        text-align: right;
    }
    .dezvoltarea,
    .atentia {
        flex-direction: row-reverse;
        align-items: center;
        column-gap: 10px;
    }
}

@media(min-width:750px) {
    .sectiune-copil-container1 {
        display: flex;
        flex-direction: column;
        width: 142px;
        height: 557px;
    }
    .first-copil-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 100px;
    }
    .container-poza-copil img {
        max-width: 380px;
    }
    .atentia .text {
        min-width: 155px;
    }
    .aptitudini {
        width: 200px;
    }
    .aptitudini .container-poza-copil {
        border: 1px solid green;
        margin-top: -100px;
        margin-left: 20px;
    }
    .conectarea {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        column-gap: 20px;
    }
    .conectarea .container-poza-copil {
        margin: 0;
    }
    .dragoste .container-poza-copil {
        margin-top: -150px;
    }
    .incredere .container-poza-copil {
        margin-top: -170px;
    }
}

@media(min-width:1400px) {
    .dragoste,
    .incredere {
        width: 400px;
        margin-left: -150px;
        margin-top: 100px;
    }
    .text p {
        font-size: 20px;
    }
    .dezvoltarea,
    .atentia {
        width: 400px;
        margin-left: -120px;
        margin-top: 100px;
    }
    .aptitudini .container-poza-copil {
        margin-top: -100px;
    }
    .conectarea .container-poza-copil {
        margin-top: 0px;
    }
    .conectarea {
        margin-top: 100px;
    }
}

.dragoste .contaienr-poza-copil2 {
    background-color: #E25555;
}

.dragoste .container-poza-copil {
    border: 1px dashed #E25555;
}

.incredere .container-poza-copil {
    border: 1px dashed #40EF81;
}

.incredere .contaienr-poza-copil2 {
    background-color: #40EF81;
}

.dezvoltarea .container-poza-copil {
    border: 1px dashed #1AB9FF;
}

.dezvoltarea .contaienr-poza-copil2 {
    background-color: #1AB9FF;
}

.atentia .container-poza-copil {
    border: 1px dashed #FFC000;
}

.atentia .contaienr-poza-copil2 {
    background-color: #FFC000;
}

.conectarea .container-poza-copil {
    border: 1px dashed #EBD59C;
}

.conectarea .contaienr-poza-copil2 {
    background-color: #EBD59C;
}

.container-rac {
    margin-top: 50px;
    position: relative;
    height: 200px;
}

@media(min-width:780px) {
    .container-rac {
        width: 50%;
        margin: auto;
    }
}

.incredere {
    transform: translateY(100%);
    opacity: 0;
    transition: 1s all;
}

.dezvoltarea {
    transform: translateY(-150%);
    transition: 1s all;
}

.sectiune-copil {
    overflow: hidden;
}

.container-rac2 {
    position: absolute;
    animation: MoveUpDownRac 2s linear infinite;
}

@keyframes MoveUpDownRac {
    0%,
    100% {
        top: 10px;
    }
    50% {
        top: 30px;
    }
}

.second-copil-container {
    overflow: hidden;
}

.conectarea {
    transition: 0.5s all;
    transform: translateY(100%)
}


/*here start domenii de studiu ***************/

.domenii-de-studiu {
    background-color: rgb(35, 8, 41);
}

.domenii-studiu-program {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 400px;
    justify-content: space-between;
    padding-top: 40px;
}

.container-domenii-de-studiu {
    width: 90%;
    margin: auto;
    text-align: left;
}

.domenii-studiu-program h2 {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ff4880;
    margin-bottom: 12px;
    font-weight: 600;
    font-family: 'Schoolbell', cursive;
}

.title-domenii {
    color: white;
}

.title-domenii h2 {
    font-size: 40px;
    font-family: 'Fredoka One', sans-serif;
    font-weight: 9400;
}

.title-domenii p {
    font-family: 'Prompt', sans-serif;
    font-size: 17px;
    font-weight: 9400;
    line-height: 25px;
}

.container-tabel-domenii {
    background-color: white;
    width: 90%;
    margin: auto;
    margin-top: 60px;
}

.container-non-extins {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.exit-domenii {
    display: none;
}

.sectiune-domenii-tabel {
    max-height: 120px;
    display: flex;
    align-items: center;
}

.container-non-extins {
    max-height: 120px;
}

.container-tabel-domenii {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.text-sectiune {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px 10px 0px 10px;
    max-height: 60px;
    width: 100%;
}

.container-non-extins {
    width: 100%;
}

.text-extins {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.extindere {
    cursor: pointer;
}

.text-sectiune {
    text-align: left;
}

.container-img-domenii {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #FFEFEF;
    max-width: 70px;
    min-width: 50px;
    justify-content: center;
}

.first-container-img-domenii {
    border-top-left-radius: 15px;
}

.last-container-img-domenii {
    border-bottom-left-radius: 15px;
}

.text-sectiune {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.extindere {
    background-color: #FF4880;
    border-radius: 100%;
    min-width: 30px;
    max-width: 40px;
    min-height: 30px;
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.sectiune-domenii-tabel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.5s all;
}

.text-extins {
    width: 90%;
    margin: auto;
    text-align: left;
    line-height: 25px;
    font-size: 20px;
}

.tabel-domenii img {
    min-width: 23px;
    max-width: 30px;
}

.text-sectiune {
    overflow: hidden;
}

.container-img-domenii {
    border-right: 1px solid gray;
    ;
}

.sectiune-domenii-tabel {
    border-bottom: 1px solid gray;
}

.estetic {
    border-bottom: none;
}

.stiinta .container-img-domenii {
    background-color: #FFF9E5;
}

.stiinta .extindere {
    background-color: #FFC000;
}

.psihometric .container-img-domenii {
    background-color: #EEF5DC;
}

.psihometric .extindere {
    background-color: #ABCD52;
}

.societate .container-img-domenii {
    background-color: #E8F8FF;
}

.societate .extindere {
    background-color: #1AB9FF;
}

.estetic .container-img-domenii {
    background-color: #FF4880;
}

.estetic .extindere {
    background-color: #271344;
}

.container-poza-domenii {
    display: none;
}

.text-sectiune h2 {
    width: 90%;
}

.domenii-de-studiu {
    min-height: 750px;
}

@media(min-width:1200px) {
    .domenii-de-studiu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        overflow: hidden;
        min-height: 850px;
    }
    .container-poza-domenii {
        display: unset;
    }
    .container-poza-domenii img {
        width: 100%;
        height: 100%;
        max-height: 1100px;
    }
    .text-sectiune {
        min-width: 450px;
        width: 100%;
    }
    .container-non-extins {
        height: 80px;
    }
    .container-img-domenii {
        height: 80px;
        width: 70px;
    }
    .container-poza-domenii {
        overflow: hidden;
    }
    .container-poza-domenii img {
        transition: 1s all;
    }
}

.title-invatare-joaca {
    width: 90%;
    margin: auto;
    margin-top: 100px;
    line-height: 20px;
}

.title-invatare-joaca h3 {
    font-family: "Schoolbell", Sans-serif;
    text-transform: uppercase;
    letter-spacing: 3.4px;
    color: #FF4880;
    font-size: 17px;
}

.title-invatare-joaca h2 {
    color: #271344;
    line-height: 1.2;
    font-weight: 700;
    font-size: 45px;
}

.title-invatare-joaca p {
    font-family: 'Prompt', sans-serif;
    color: #777777;
    font-size: 15px;
}

.poza-invatare {
    width: 100%;
    margin-top: 50px;
}

.poza-invatare img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.activitati h3 {
    font-family: 'Rochester', cursive;
    color: #FF7800;
}

.activitati p {
    width: 90%;
    margin: auto;
    line-height: 20px;
    font-family: 'Prompt', sans-serif;
    color: #777777;
    font-size: 15px;
}

.activitate {
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}

.element {
    background-color: rgb(253, 200, 100);
    width: 100%;
    min-height: 1px;
    margin-top: 50px;
}

.buton-activitati svg {
    width: 15px;
    fill: white;
}

.buton-activitati a {
    text-decoration: none;
    background-color: #48D11A;
    display: flex;
    flex-direction: row-reverse;
    width: 170px;
    margin: auto;
    height: 40px;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    column-gap: 10px;
    color: white;
    border-radius: 20px 0px 20px 00px;
    box-shadow: -2px 1px 10px 0px rgb(0 0 0 / 50%);
}

.buton-activitati {
    line-height: 10px;
    margin-top: 50px;
}

.varsta svg {
    width: 15px;
    fill: #48D11A;
}

.varsta {
    display: flex;
    flex-direction: row-reverse;
    width: 170px;
    margin: auto;
    height: 40px;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    column-gap: 10px;
}

@media(min-width:800px) {
    .activitati {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .activitate {
        min-height: 800px;
        max-height: 800px;
    }
    .text-activitate {
        height: 200px;
    }
    .poza-invatare {
        height: 250px;
    }
    .activitati {
        max-width: 1500px;
        margin: auto;
    }
}

.title-invatare-joaca {
    transition: 1s all;
    transform: scale(0.5);
}

.title-invatare-joaca img {
    opacity: 0;
    transition: 1s all;
    transition-delay: 1s;
}


/* recenzii starts here ******************/

.recenzii {
    background-color: rgb(247, 231, 203);
    height: 500px;
}

.recenzii h2 {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ff4880;
    margin-bottom: 12px;
    font-weight: 600;
    font-family: 'Schoolbell', cursive;
}

.title-recenzii {
    padding-top: 50px;
    line-height: 15px;
    width: 90%;
    margin: auto;
    max-width: 700px;
}

.recenzii h1 {
    color: #271344;
    font-size: 40px;
    font-family: 'Fredoka One', sans-serif;
    font-weight: 800;
}

.recenzii p {
    font-family: 'Prompt', sans-serif;
    color: #777777;
    font-size: 15px;
}

.recenzie {
    background-color: white;
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    margin: auto;
    border-radius: 20px;
}

.lista-recenzii img {
    width: 64px;
    height: 64px;
    ;
}

.lista-recenzii {
    margin-top: 100px;
}

.recenzie-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.recenzie-container img {
    border-radius: 100%;
    border: 2px solid #FF4880;
    width: 64px;
    height: 64px;
}

.recenzie p {
    color: #271344;
    font-family: 'Fredoka One', sans-serif;
    font-size: 17px;
    font-weight: 900;
}

.contaienr-poza-stele {
    display: flex;
    flex-direction: column;
    line-height: 10px;
    margin-left: 20px;
    text-align: left;
}

.stele svg {
    width: 14px;
    height: 13px;
    fill: gold;
}

.recenzie {
    position: relative;
    z-index: 2;
    border-top-right-radius: 80px;
    min-width: 100%
}

.lista-recenzii {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    column-gap: 30px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.recenzie::after {
    background-image: url(/poze/arrow-right.png);
    position: absolute;
    top: -2px;
    right: -10px;
    width: 85px;
    height: 85px;
    content: "";
    display: block;
}

.recenzie {
    position: sticky;
    width: 90%;
    margin: auto;
    transition: 1s all;
}

.second-recenzie {
    left: 25;
}

.contaienr-poza-stele {
    position: relative;
}

.first-svg-container-poza-stele {
    position: absolute;
    fill: #FF4880;
    right: -50%;
}

@media(min-width:720px) {
    .butoane-recenzii {
        width: 50%;
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        margin: auto;
        height: 50px;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
    }
    .butoane-recenzii div {
        background-color: gold;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        border: 1px solid gray;
    }
    .recenzie {
        max-width: 49%;
        min-width: 49%;
        min-width: none;
    }
    .lista-recenzii {
        width: 95%;
        max-width: 1500px;
    }
    .lista-recenzii::-webkit-scrollbar {
        color: rgb(160, 149, 149);
        opacity: 0;
    }
    .recenzie:hover {
        transform: translateY(-50px)
    }
}

.padure {
    background-image: url(/poze/background-padure.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    row-gap: 50px;
    margin-top: -10px;
}

.container-padure {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.optiune-padure {
    width: 240px;
    margin: auto;
    border-radius: 100%;
    height: 240px;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 5px;
    position: relative;
}

.optiune-padure::after {
    border: 2px dashed white;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: 100%;
}

.optiune-padure:hover::after {
    animation: rotate 0.8s linear infinite;
}

.optiune-padure p {
    color: #fff;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 15px;
}

.optiune-padure h1 {
    font-size: 30px;
    font-family: 'Fredoka One', sans-serif;
    font-weight: 900;
}

.calendar {
    margin-top: 100px;
}

.padure {
    color: white;
}

.teacher {
    margin-bottom: 100px;
    ;
}

.padure svg {
    fill: white;
    width: 40px;
    height: 45px;
}

@media(min-width:780px) {
    .container-padure {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        margin: auto;
        padding-top: 100px;
    }
    .calendar {
        margin: 0;
    }
    .teacher {
        margin: 0;
    }
}

@media(min-width:1000px) {
    .container-padure {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        padding-top: 50px;
        padding-bottom: 50px;
        ;
    }
}

.optiune-padure {
    transition: 0.5s all;
    position: relative;
}


/*despre-profesori start here ****************/

.despre-profesorii-nostri {
    text-align: center;
    width: 95%;
    margin: auto;
    background-image: url('/poze/imagine-pasarele.png');
    background-position: center right;
    background-repeat: no-repeat;
    line-height: 20px;
    margin-top: 50px;
    padding-bottom: 100px;
}

.container-profesori {
    max-width: 900px;
    margin: auto;
}

.despre-profesorii-nostri h3 {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ff4880;
    margin-bottom: 12px;
    font-weight: 600;
    font-family: 'Schoolbell', cursive;
}

.despre-profesorii-nostri p {
    line-height: 30px;
    ;
}

.despre-profesorii-nostri img {
    margin-top: 50px;
}

.despre-profesorii-nostri h2 {
    font-size: 32px;
    color: #271344;
    font-family: 'Fredoka One', sans-serif;
}


/*here starts section ore******/

.section-ore {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100%;
    text-align: center;
    position: relative;
    background-color: rgb(37, 18, 65, 0.9);
    padding-bottom: 20px;
}

.section-ore::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/poze/poze-copii.jpg);
    top: 0;
    left: 0;
    z-index: -1;
}

.vezi_evenimente {
    display: flex;
    justify-content: center;
}

.vezi_evenimente a {
    width: 280px;
    margin-top: 50px;
}

.orar-sectiune-ore {
    padding-top: 50px;
}

.orar-sectiune-ore a {
    font-size: 25px;
    margin-bottom: 28px;
    display: inline-block;
    padding: 13px 24px;
    border-radius: 30px;
    border-radius: 30px;
    border-radius: 30px;
    background: #ffc000;
    border: 2px solid #fff;
    font-weight: 600;
    color: #271344;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(255 72 128 / 40%);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.orar-sectiune-ore h1 {
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 28px;
    ;
}

.container-ore-section-ore {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

.casuta-timp {
    width: 144px;
    min-height: 80px;
    max-height: 80px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    border-radius: 20px;
    line-height: 0px;
}

.casuta-timp div {
    width: 100%;
}

.hours {
    border: 2px solid #ffc000;
}

.container-culoare {
    height: 40px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    opacity: 0.5;
}

.hours .container-culoare {
    background-color: #ffc000;
    width: 100%;
}

.container-ore-section-ore p {
    color: white;
    font-size: 16px;
}

.days {
    border: 2px solid #ff4880;
}

.days .container-culoare {
    background-color: #ff4880;
}

.minutes {
    border: 2px solid #abcd52;
}

.minutes .container-culoare {
    background-color: #abcd52;
}

.seconds {
    border: 2px solid #1ab9ff;
}

.seconds .container-culoare {
    background-color: #1ab9ff;
    ;
}

@media(min-width:1024px) {
    .casuta-timp p {
        font-size: 30px;
    }
    .casuta-timp {
        min-height: 100px;
        max-height: 100px;
    }
    .section-ore {
        padding-bottom: 100px;
    }
}


/* stiri recente start here *******************/

.first-stiri-container {
    line-height: 20px;
    padding-top: 100px;
}

.first-stiri-container h3 {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ff4880;
    margin-bottom: 12px;
    font-weight: 600;
    font-family: 'Schoolbell', cursive;
}

.first-stiri-container h2 {
    font-family: 'Fredoka One', sans-serif;
    color: #271344;
    font-size: 32px;
    font-weight: 900;
}

.fisrt-stiri-container p {
    font-family: 'Prompt', sans-serif;
    color: #777777;
    font-size: 20px;
}

.second-stiri-container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    margin: auto;
    line-height: 10px;
    padding-bottom: 20px;
}

.second-stiri-container img {
    width: 100%;
    max-width: 450px;
    height: 300px;
    border-radius: 10px;
}

.second-stiri-container:hover img {
    animation: shake 0.5s;
}

.second-stiri-container h2 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 25px;
    color: #271344;
    max-width: 350px;
    text-align: left;
    line-height: 30px;
}

.second-stiri-container p {
    font-family: 'Prompt', sans-serif;
    color: #777777;
    font-size: 15px;
}

.second-stiri-container a p {
    color: #ff4880;
    font-weight: bold;
    font-size: 20px;
    line-height: 0px;
    margin-bottom: 5px;
}

.second-stiri-container a span {
    width: 100%;
    height: 2px;
    display: inline-block;
    background-color: #ff4880;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


/* galerie start hjere ******************/

.galerie h3 {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ff4880;
    margin-bottom: 12px;
    font-weight: 600;
    font-family: 'Schoolbell', cursive;
}

.galerie h2 {
    font-family: 'Fredoka One', sans-serif;
    color: #271344;
    font-size: 32px;
    font-weight: 900;
}

.galerie p {
    font-family: 'Prompt', sans-serif;
    color: #777777;
    font-size: 20px;
}

.first-galerie-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
}

.first-galerie-ul li {
    border-radius: 25px;
    background-color: rgba(119, 119, 119, 0.12);
    font-family: 'Fredoka One', sans-serif;
    font-weight: 400;
    margin: 10px 7px;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 80px;
    padding: 5px 20px 5px 20px;
}

.first-galerie-ul li span {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    color: #271344;
    position: relative;
}

.container-poze-galerie {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: center;
    row-gap: 20px;
    margin: auto;
    margin-top: 50px;
}

.container-poza-img {
    width: 90%;
    height: 100%;
    border-radius: 20px;
}

.container-poza-img img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

@media(min-width:600px) {
    .container-poze-galerie {
        justify-content: unset;
        column-gap: 10%;
    }
    .container-poza-img {
        width: 45%;
    }
}

@media(min-width:800px) {
    .container-poze-galerie {
        /* justify-content: center; */
        column-gap: 20px;
        max-width: 1700px;
    }
    .container-poza-img {
        width: 30%;
    }
}

.container-poza-img {
    position: relative;
    overflow: hidden;
}

.container-poza-img::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(#e66465, #9198e5);
    position: absolute;
    opacity: 0.5;
    transform: translateY(100%);
    transition: 0.5s;
}

.plus-container {
    font-size: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    transform: translateY(100%);
    transition: 0.5s;
    opacity: 0;
}

.plus-container p {
    border: 5px solid white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.container-poza-img:hover::before {
    transform: translateY(0);
}

.container-poza-img:hover .plus-container {
    transform: translateY(0);
    opacity: 1;
}

.first-galerie-ul li {
    transition: 0.5s;
}

.first-galerie-ul li:nth-child(1) {
    background-color: #ff4880;
}

.first-galerie-ul li:nth-child(1) span {
    color: white;
}

.first-galerie-ul li:hover {
    background-color: #ff4880;
}

.first-galerie-ul li:hover span {
    color: white;
}

.inscriere-gradinita {
    background-color: #ABCD52;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 20px;
}

.container-inscriere-gradinita {
    width: 90%;
    margin: auto;
    line-height: 30px;
    padding-top: 20px;
}

.text-inscriere-gradinita span {
    font-style: normal;
    color: #ff4880;
}

.text-inscriere-gradinita h1 {
    color: #FFFFFF;
    margin-bottom: 5px;
    font-family: "Alfa Slab One", Sans-serif;
    font-size: 24px;
    font-weight: 900;
}

.text-inscriere-gradinita h3 {
    color: #FFFFFF;
}

.final-button a {
    font-size: 20px;
    background-color: #ff4880;
    padding: 15px 25px 15px 25px;
    color: white;
    border-radius: 10px;
    transition: 0.5s all;
}

.final-button a:hover {
    background-color: #271344;
}

@media(min-width:1250px) {
    .container-inscriere-gradinita {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 50px;
        width: 95%;
        max-width: 1200px;
        margin: auto;
    }
}

.first-footer {
    background-color: #351C5A;
}

.first-container-footer img {
    width: 130px;
    height: 50px;
}

.first-container-footer {
    width: 97%;
    margin: auto;
    color: white;
    padding-top: 50px;
}

.first-container-footer p {
    font-size: 18px;
}

.container-facebook-aux {
    display: flex;
    justify-content: flex-end;
}

.first-footer svg {
    width: 20px;
    fill: #ffc000;
    height: 20px;
}

.svg-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    line-height: 25px;
}

.svg-uri {
    font-size: 15px;
    line-height: 10px;
}

.footer-contacteazane {
    width: 95%;
    margin: auto;
    color: white;
}

.footer-contacteazane h1 {
    font-size: 40px;
}

.second-ul-footer p {
    color: #ffc000;
}

.meniu-footer h2 {
    color: white;
    font-size: 40px;
}

.second-ul-footer {
    width: 95%;
    margin: auto;
    line-height: 5px;
}

.second-ul-footer li {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.second-ul-footer li a {
    color: white;
    text-decoration: underline;
    text-decoration-color: #ffc000;
    text-decoration-style: 2px solid;
    font-size: 20px;
}

.abonare {
    width: 95%;
    margin: auto;
    color: white;
    line-height: 20px;
}

.abonare h2 {
    font-size: 30px;
}

.abonare input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

input[type="text"]::placeholder {
    padding-left: 20px;
}

.abonare form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.abonare a {
    width: 100%;
    background-color: #ff4880;
    display: block;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.5s all;
}

.abonare a:hover {
    background-color: white;
    color: #271344;
    align-items: center;
}

@media(min-width:780px) {
    .container-meniu-contactare {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin-left: 20px;
    }
    .meniu-footer {
        margin-top: 26px;
    }
    .meniu-footer ul {
        line-height: 20px;
    }
    .second-ul-footer a {
        font-size: 17px;
        width: 200px;
    }
}

@media(min-width:1000px) {
    .container-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        margin: auto;
    }
    .meniu-footer ul {
        line-height: 10px;
        font-size: 4px;
    }
    .footer-contacteazane h1 {
        font-size: 25px;
    }
    .meniu-footer h2 {
        font-size: 25px;
    }
    .svg-text {
        height: 55px;
    }
    footer {
        max-height: 500px;
    }
    .second-ul-footer li {
        height: 45px;
    }
    .second-ul-footer {
        line-height: 0px;
    }
    .footer-contacteazane {
        margin-top: 30px;
        ;
    }
    .abonare {
        max-width: 300px;
    }
    .first-container-footer {
        max-width: 300px;
    }
}

.second-footer {
    background-color: #271344;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
    height: 50px;
    align-items: center;
}

nav {
    top: 0;
    z-index: 100;
    left: 0;
    right: 0;
}

.container-padure {
    max-width: 1200px;
}

.padure {
    overflow: hidden;
}

@media(min-width:1200px) {
    .second-ul {
        z-index: -2;
    }
}

.up {
    position: fixed;
    bottom: 20%;
    background-color: #FF4880;
    z-index: 100;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    right: 0;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
}

.container-padure {
    transform: translateX(100%);
    transition: 0.5s;
    opacity: 0;
}

.padure:hover .container-padure {
    transform: translateX(0);
    opacity: 1;
}